
<marquee behavior="slide" direction="up" loop="10"> <h2><mark>formulario</mark></h2></marquee>

   <div class="d-flex justify-content-center mb-1">
      <div id="mensaje" *ngIf="mensaje != null">{{mensaje}}</div>
           <div class="p-2 bd-highlight">

            <!--  [disabled]="peli.id !=null"-->
                <button id="botonInsertar" 
                (click)="insertar()" [disabled]="estaHabilitadoInsertar"
                class="btn btn-outline-success" 
              >INSERTAR</button>
               </div>
               <div class="p-2 bd-highlight">

                 <!--  [disabled]="peli.id ==null"-->
                       <button id="botonModificar" 
                       (click)="modificar()" [disabled]="estaHabilitadoModificar"
                       class="btn btn-outline-warning" 
                     >MODIFICAR</button>
                      </div>
                      <div class="p-2 bd-highlight">
                        <!--  [disabled]="peli.id ==null"-->
                           <button id="botonBorrar" 
                           (click)="borrar()"
                           class="btn btn-outline-danger" 
                         >BORRAR</button>
                          </div>
                          <div class="p-2 bd-highlight">
                               <button id="botonVaciar" 
                               (click)="resetFormulario()"
                               class="btn btn-outline-info" 
                             >VACIAR</button>
                              </div>
                              <div class="p-2 bd-highlight">
                                   <button id="botonCancelar" 
                                   (click)="cancelar()"
                                   class="btn btn-outline-primary" 
                                 >CANCELAR</button>
                                  </div>
         </div>
   
   
   
 <div class="container">
           <div class="row">
                   <div class="col-xs-12 col-sm-12 col-lg-12">
              
               </div>
   </div>

</div>
<div class="container">
   


   
   

   <div class="row">
       <div class="col-xs-12 col-sm-12 col-lg-12">
               <div  id="formulario">
                       <div class="form-row">
                           <div >
                           
                               <input type="hidden" class="form-control" id="id" 
                              value=""  [(ngModel)]="peli.id">
                             </div>
                         <div class="col-md-4 mb-3">
                           <label for="titulo">TITULO</label>
                           <input type="text" class="form-control" id="titulo" 
                           placeholder="título" value="" required [(ngModel)]="peli.titulo">
                         </div>
                         <div class="col-md-4 mb-3">
                           <label for="director">DIRECTOR</label>
                           <input type="text" class="form-control" id="director" 
                           placeholder="director" value="" required [(ngModel)]="peli.director">
                         </div>
                         <div class="col-md-4 mb-3">
                           <label for="genero">GENERO</label>
                          
                         
                             <input type="text" class="form-control" id="genero" 
                             placeholder="genero" aria-describedby="inputGroupPrepend2" required
                             [(ngModel)]="peli.genero">
                        
                         </div>
                       </div>
                       <div class="form-row">
                         <div class="col-md-4 mb-3">
                           <label for="anio">AÑO</label>
                           <input type="text" class="form-control" id="anio" 
                           placeholder="año" required [(ngModel)]="peli.anio">
                         </div>
                        
                       </div>
                       
                       
                      
                      </div>
       </div>
       
   </div>
</div>
<div id="tabla"></div>