
<marquee><H2><mark>Listado</mark></H2></marquee>

<div id="mensaje"></div>

<div class="d-flex justify-content-center mb-1">
        <div class="p-2 bd-highlight">
             <button id="botonNuevo" class="btn btn-outline-secondary" 
           >NUEVO</button>
            </div>
            <div class="p-2 bd-highlight">
                    <button id="botonActualizar" class="btn btn-outline-secondary" 
                  >ACTUALIZAR</button>
                   </div>
      </div>



<div class="container">
        <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-12">
           
            </div>
</div>

</div>
<div class="container">






<div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-12">
        <table id="table" class="table">
            <thead class="thead-dark">
              <tr>
                    <th scope="col">MARCA</th>
                <th scope="col">MODELO</th>
                <th scope="col">POTENCIA</th>
                <th scope="col">COLORES</th>
                
              </tr>
            </thead>
            <tbody id="tableBody">
              
              
            </tbody>
          </table>
    </div>
    
</div>
</div>
<div id="tabla"></div>