<ul class="nav" >
  <li class="nav-item">
    <a class="nav-link active" routerLink="/principal">INICIO</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/principal/pagina1">pagina1</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/principal/pagina2">pagina2</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/principal/pagina3">pagina3</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/principal/perfil">PERFIL</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/">SALIR</a>
  </li>
</ul>