
<div *ngIf="coche">

<h1 class="text-center"> </h1>
<marquee behavior="slide" direction="up" loop="10"> <h2><mark>formulario</mark></h2></marquee>

   <div class="d-flex justify-content-center mb-1">

           <div class="p-2 bd-highlight">
                <button id="botonInsertar" class="btn btn-outline-success" 
              >INSERTAR</button>
               </div>
               <div class="p-2 bd-highlight">
                       <button id="botonModificar" class="btn btn-outline-warning" 
                     >MODIFICAR</button>
                      </div>
                      <div class="p-2 bd-highlight">
                           <button id="botonBorrar" class="btn btn-outline-danger" 
                         >BORRAR</button>
                          </div>
                          <div class="p-2 bd-highlight">
                               <button id="botonVaciar" class="btn btn-outline-info" 
                             >VACIAR</button>
                              </div>
                              <div class="p-2 bd-highlight">
                                   <button id="botonCancelar" class="btn btn-outline-primary" 
                                 >CANCELAR</button>
                                  </div>
         </div>
   
   
   
 <div class="container">
           <div class="row">
                   <div class="col-xs-12 col-sm-12 col-lg-12">
              
               </div>
   </div>

</div>
<div class="container">
   

   <div class="row">
       <div class="col-xs-12 col-sm-12 col-lg-12">
               <form  id="formulario">
                       <div class="form-row">
                           <div>
                               
                               <input type="hidden" class="form-control" id="id" 
                              value=""  campo="campo">
                             </div>
                         <div class="col-md-4 mb-3">
                           <label for="marca">Marca</label>
                           <input type="text" class="form-control" id="marca" [(ngModel)]="coche.marca" 
                           placeholder="Selecciona tu marca preferida" value="" required campo="campo">
                         </div>
                         <div class="col-md-4 mb-3">
                           <label for="modelo">Modelo</label>
                           <input type="text" class="form-control" id="modelo" [(ngModel)]="coche.modelo" 
                           placeholder="Escoge tu modelo" value="" required campo="campo">
                         </div>
                         <div class="col-md-4 mb-3">
                           <label for="potencia">Potencia</label>
                          
                         
                             <input type="text" class="form-control" id="potencia" [(ngModel)]="coche.potencia" 
                             placeholder="Elige la potencia" aria-describedby="inputGroupPrepend2" required
                             campo="campo">
                        
                         </div>
                       </div>
                       <div class="form-row">
                         <div class="col-md-4 mb-3">
                           <label for="carroceria">Carroceria</label>
                           <datalist id="colors">
                             <option *ngFor= "let carro of carrocerias" value="{{carro}}"></option>
                             
                           </datalist>
                           <input type="text" list="colors" class="form-control" id="carroceria" 
                           placeholder="Elige tu carroceria favorita" required campo="campo">
                         </div>
                        
                       </div>
                       
                       
                      
                     </form>
       </div>
       
   </div>
</div>
</div>
<div id="tabla"></div>